*{ 

margin:0; 

padding:0; 

} 

html,body{ 

height:100%; 

} 

header,main,footer{ 

border:blacksolid1px; 

} 

#wrapper{ 

min-height:100%; 

height:auto!important; 

height:100%; 

    width:100%; 

} 

header{ 

height:120px; 

} 

main{ 

padding-bottom:100px; 

} 

footer{

margin:-100pxauto0; 

position:relative; 

height:100px; 

} 